<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soccer Prediction</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div id="signedInContent">
    <h1>Soccer Prediction</h1>
    <div>
      <label for="home_team_id">Home Team ID:</label>
      <input list="home_teams" id="home_team_name" required>
      <input type="hidden" id="home_team_id">
      <datalist id="home_teams">
        {{range .Teams}}
        <option data-value="{{.ID}}">{{.Name}}</option>
        {{end}}
      </datalist>
    </div>
    <div>
      <label for="away_team_id">Away Team ID:</label>
      <input list="away_teams" id="away_team_name" required>
      <input type="hidden" id="away_team_id">
      <datalist id="away_teams">
        {{range .Teams}}
        <option data-value="{{.ID}}">{{.Name}}</option>
        {{end}}
      </datalist>
    </div>
    <button id="predict_btn">Predict</button>
    <div id="result"></div>
  </div>
  <script>
    const apiBaseUrl = '{{.ApiBaseURL}}';

    function makePrediction() {
      const homeTeamId = document.getElementById('home_team_id').value;
      const awayTeamId = document.getElementById('away_team_id').value;

      if (!homeTeamId || !awayTeamId) {
        alert('Please enter both team IDs');
        return;
      }

      const url = `${apiBaseUrl}/predict?home_team_id=${homeTeamId}&away_team_id=${awayTeamId}`;

      fetch(url, {
        method: 'GET',
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById('result').innerHTML = JSON.stringify(data);
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Failed to make a prediction');
      });
    }

    document.getElementById('home_team_name').addEventListener('input', function (e) {
      const selectedOption = e.target.list.options.namedItem(e.target.value);
      document.getElementById('home_team_id').value = selectedOption ? selectedOption.getAttribute('data-value') : '';
    });

    document.getElementById('away_team_name').addEventListener('input', function (e) {
      const selectedOption = e.target.list.options.namedItem(e.target.value);
      document.getElementById('away_team_id').value = selectedOption ? selectedOption.getAttribute('data-value') : '';
    });

    document.getElementById('predict_btn').addEventListener('click', makePrediction);
  </script>
</body>
</html>
